<div class="content">

<p class="header1">Recover White Shark Online Services password</p>

<p class="text_body">Please enter the email address you registered with. After verifying this email address with our records, your password will be sent to this email address shortly.</p>

<%= form_for @forgot_password_form, :url => users_forgot_passwords_path do |form| %>
	<fieldset>
		<legend>Recover password</legend>
		<table border="0">
			<tr>
				<td><%= form.label :email, 'Email address' %></td>
				<td>
					<%= form.text_field :email, :size => 30 %>
					<span style="color: red"><%= field_error :email, @forgot_password_form.errors[:email] %></span>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><%= form.submit 'Send me my password' %></td>
			</tr>
		</table>
	</fieldset>
<% end %>

</div>
