<b><%= link_to 'Main Menu', login1_functions_path%></b><br/>
<b><%= link_to 'Recruiting Menu', recruiting_menu_employees_path%></b><br/><br/>


<%= form_for @new_recruiters_form, :url => save_recruiter_employees_url do |rec| %>
	<fieldset class="mystyle">
		<legend>New Recruiter</legend>
		<table border="1" class="mystyle">
			<tr class="cell">
				<th><b>Company</b></th><td><b><%=rec.text_field :company, :size=>"30x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Name</b></th><td><b><%=rec.text_field :name, :size=>"30x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Office Phone</b></th><td><b><%=rec.text_field :offphone, :size=>"15x1"%></b>
					<b><%=rec.text_field :offext, :size=>"5x1"%></b>
				</td>
			</tr>
			<tr class="cell">
				<th><b>Cell Phone</b></th><td><b><%=rec.text_field :phone, :size=>"30x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Fax</b></th><td><b><%=rec.text_field :fax, :size=>"30x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>E-Mail</b></th><td><b><%=rec.text_field :email1, :size=>"15x1"%></b><b>@</b>
					<b><%=rec.text_field :email2, :size=>"15x1"%></b><b>.</b><b><%=rec.text_field :email3, :size=>"5x1"%></b>
				</td>
			</tr>
			<tr class="cell">
				<th><b>Associate</b></th><td><b><%=rec.text_field :assname, :size=>"30x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Associate Phone</b></th><td><b><%=rec.text_field :assphone, :size=>"30x1" %></b></td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td colspan=3, align=center><%= rec.submit "Save New Recruiter" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>

<br/><br/>


<fieldset class="mystyle">
	<legend>Recruiters</legend>
	<%if !@recsupps.nil? && !@recsupps.empty?%>
	 	<table class="mystyle" border="1">
			<tr class="cell" border="1">
				<td>Company</td>
				<td>Name</td>
				<td>Office Phone</td>
				<td>Cell Phone</td>
				<td>E-Mail</td>
				<td>Fax</td>
				<td>Associate</td>
				<td>Associate Phone</td>
			</tr>
	    	<% @recsupps.each do |ws| %>
				<tr class="cell" border="1">
					<td><%=ws.company%></td>
					<td><%=ws.name%></td>
					<td><%=ws.offphone%>&nbsp;&nbsp;Ext:<%=ws.offext%></td>
					<td><%=ws.phone%></td>
					<td><%=ws.email%></td>
					<td><%=ws.fax%></td>
					<td><%=ws.assname%></td>
					<td><%=ws.assphone%></td>
				</tr>
			<%end%>
		</table>
	<%end%>
</fieldset>



