<b><%= link_to 'Main Menu', login1_functions_path%></b><br/>
<b><%= link_to 'Recruiting Menu', recruiting_menu_employees_path%></b><br/><br/>


<%= form_for @new_recruit_form, :url => save_recruit_employees_url do |rec| %>
	<fieldset class="mystyle">
		<legend>New Recruit</legend>
		<table border="1" class="mystyle">
			<tr border="1" class="cell">
				<th>Date</th>
				<td>
					<%=rec.select :year, options_for_select(@year_options, @selected_year)%>
					<%=rec.select :month, options_for_select(@month_options, @selected_month)%>
					<%=rec.select :day, options_for_select(@day_options, @selected_day)%>
				</td>
			</tr>
			<tr class="cell">
				<th><b>Source</b></th><td><b><%=rec.select :source, options_for_select(@source_options, @selected_source)%></b></td>
			</tr>
			<tr class="cell">
				<th><b>Name</b></th><td><b><%=rec.text_field :name, :size=>"25x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Address</b></th><td><b><%=rec.text_field :address, :size=>"25x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Shop</b></th><td><b><%=rec.select :shop, options_for_select(@shop_options, @selected_shop), :size=>"25x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Phone</b></th><td><b><%=rec.text_field :phone, :size=>"25x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>E-Mail</b></th><td><b><%=rec.text_field :email1, :size=>"15x1"%></b><b>@</b>
					<b><%=rec.text_field :email2, :size=>"15x1"%></b><b>.</b><b><%=rec.text_field :email3, :size=>"5x1"%></b>
				</td>
			</tr>
			<tr class="cell">
				<th><b>Valid G/G2</b></th><td><b><%=rec.select :drive, options_for_select(@drive_options, @selected_drive), :size=>"25x1" %></b></td>
			</tr>
			<tr class="cell">
				<th><b>Previous Ladder Exp</b></th><td><b><%=rec.select :ladder, options_for_select(@ladder_options, @selected_ladder), :size=>"25x1" %></b></td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td colspan=3, align=center><%= rec.submit "Save" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>

<br/><br/>

<fieldset class="mystyle">
	<legend>Recruits</legend>
	<%if !@recs.nil? && !@recs.empty?%>
	 	<table class="mystyle" border="1">
			<tr class="cell" border="1">
				<td>Date</td>
				<td>Source</td>
				<td>Name</td>
				<td>Address</td>
				<td>Phone</td>
				<td>E-Mail</td>
				<td>Shop</td>
				<td>Drive</td>
				<td>Ladder</td>
				<td>Status</td>
			</tr>
	    	<% @recs.each do |ws| %>
				<tr class="cell" border="1">
					<td><%=ws.date.to_s%></td>
					<td><%=ws.source%></td>
					<td><%=ws.name%></td>
					<td><%=ws.address%></td>
					<td><%=ws.phone%></td>
					<td><%=ws.email%></td>
					<td><%=ws.shop%></td>
					<td><%=ws.drive%></td>
					<td><%=ws.ladder%></td>
					<td><%=ws.status%></td>
				</tr>
			<%end%>
		</table>
	<%end%>
</fieldset>

