<fieldset class="mystyle">
	<legend>Schedule</legend>
	<%if !@sched.nil? && !@sched.empty?%>
	 	<table class="mystyle" border="1">
			<tr class="cell" border="1">
				<td>Date</td>
				<td>Name</td>
				<td>Start Time</td>
				<td>Finish Time</td>
				<td>Tasks</td>
				<td>Notes</td>
			</tr>
	    	<% @sched.each do |ws| %>
				<tr class="cell" border="1">
					<td><%=ws.date.to_s%></td>
					<td><%=ws.hrid%></td>
					<td><%=ws.stime%></td>
					<td><%=ws.ftime%></td>
					<td><%=ws.tasks%></td>
					<td><%=ws.notes%></td>
		     		<td><b><%= link_to 'Delete Schedule', deleteschedule_employee_path(:id=>ws.id), :style=>"color: yellow" %></b></td>
		
				</tr>
			<%end%>
		</table>
	<%end%>
</fieldset>

