
<script text="text/javascript" type="text/javascript">

		function show_editclient(){
			var butt=$('#editclient');
			var edit=$('#show_editclient');
			if(butt.html()=='Show Edit Client'){
				butt.html('Hide Edit Client');
				edit.show();
			}else{
				butt.html('Show Edit Client');
				edit.hide();
			}
		}

		function show_completedjobs(){
			var butt=$('#completedjobs');
			var jobs=$('#show_completedjobs');
			if(butt.html()=='Show Completed Jobs'){
				butt.html('Hide Completed Jobs');
				jobs.show();
			}else{
				butt.html('Show Completed Jobs');
				jobs.hide();
			}
		}


		function nigs(){
			alert ('nigs');
		}
		
		function tstatus(){
			var tstatus=$('#call_client_form_tstatus');
			var tyear=$('#call_client_form_year');
			var tmonth=$('#call_client_form_month');
			var tday=$('#call_client_form_day');
	
			var year10=$('#call_client_form_year10');
			var day10=$('#call_client_form_day10');
			var month10=$('#call_client_form_month10');
		//'LMM', 'LMP', 'Pending Summer 2014', 'Pending Fall 2013', 'NC', 'Moved', 'Phone Out Of Service'	
			if(tstatus.val()=='Pending Summer 2014'){
				tyear.val("2014");
        		tmonth.val("Apr");
        		tday.val("01");
        	}else if(tstatus.val()=='Pending Fall 2013'){
        		tyear.val("2013");
        		tmonth.val("Oct");
        		tday.val("01");
        	}else{
        		tyear.val(year10.val());
        		tmonth.val(month10.val());
        		tday.val(day10.val());
        	}

		}


</script>


<b><%= link_to 'Main Menu', login1_functions_path%></b><br/><br/>


<%if @source=='callclient'%>
    <b><%= link_to 'Back To Sales List Index', sales_path%></b><br/>
<%elsif @source=='smartsearch'%>
	<b><%= link_to 'Back To Smart Search', smartsearch_functions_path%></b>
<%elsif @source=='messages'%>
	<b><%= link_to 'Back To Messages', messagelog_functions_path%></b>
<%end%>
<br/>
<b><%= link_to 'Log Message For This Client', logmessage_functions_path(:sourceid => @cfid, :source=>'clientprofile')%></b>&nbsp;
<b><%= link_to 'Smart Search', smartsearch_functions_path%></b><br/>
<b><%= link_to 'Log Message', logmessage_functions_path%></b>&nbsp;
<b><%= link_to 'Message Log', messagelog_functions_path%></b>
<b><%= link_to 'Back To Sales List', sales_path%></b><br/>
<br/><br/>


<%if !@client_header1.nil?%>
<h2><%=@client_header1%></h2>
<h2><%=@client_header2%></h2>
<h2><%=@client_header3%></h2>
<h2><%=@client_header4%>&nbsp;&nbsp;<%=@client_header5%></h2>
<%end%>

<%if !@function.nil?
	call_client_display='display:none'
	sat_call_display='display:none'
	if @function=='callclient'
		call_client_display='display:inline'
	elsif @function=='satcall'
		sat_call_display='display:inline'
	end
%>

<div id="show_callclient" style=<%=call_client_display%>>
	<fieldset class="function">
	<legend>Function Call Client</legend>
	
		<%if !@jobs_2013.nil? && !@jobs_2013.empty? then%>
		<b>Upcoming Jobs</b>
			<table border="1" class="mystyle">
					<tr class="cell">
						<th><b>Job ID</b></th>
						<th><b>Address</b></th>
						<th><b>Job Desc</b></th>
						<th><b>Price</b></th>
						<th><b>Type</b></th>
						<th><b>Start Date</b></th>
						<th><b>Date Done</b></th>
						<th><b>Crewname</b></th>
					</tr>	
				<%@jobs_2013.each do |job|
				  class5='cell'	
				  if job.jobdnf=='dnf'
				  	class5='dnf'
				  elsif	job.jobdnf=='sat'
				  	class5='sat'
				  end	
            	%>
					<tr class="<%=class5%>">
						<td><b><%= job.jobid%></b></td>
						<td><b><%= job.address %></b></td>
						<td><b><%= job.jobdesc %></b></td>
						<td><b><%= number_to_currency job.price %></b></td>
						<td><b><%= job.type %></b></td>
						<td><b><%= job.sdate %></b></td>
						<td><b><%= job.datebi %></b></td>
						<td><b><%= job.crewname %></b></td>
					</tr>	
				<%end%>
			</table>
		<%end%>
		<br/>

	
	
		<% if !@calls.nil? then %>
			<table border="1" class="mystyle">
				<tr border="1" class="cell">
					<th>Status</th>
					<th>Date Att</th>
					<th>Caller</th>
					<th>Notes</th>
					<th>Follow Up</th>
					<th>Delete Call</th>
				</tr>
			  	<% @calls.each do |call|
			       	dateatt=''
			       	if call.dateatt.nil?
			       		dateatt='unknown'
			       	else	
				       	dateatt=call.dateatt.to_formatted_s(:long_ordinal)
				    end
				    followup=''
				    if call.followup.nil?
				   		followup='unknown'
				   	else 
					   	followup=call.followup.to_formatted_s(:long_ordinal)
				    end
				%>
			   	<tr border="1" class="cell">
					<td><%=call.tstatus %></td>
					<td><%=dateatt%></td>
					<td><%=call.caller%></td>
					<td><%=call.notes%></td>
					<td><%=followup%></td>
					<%if call.dateatt>@date5 && call.tstatus!='SALE'%>
						<td><%= link_to 'Delete', deletecontact_sale_path(:id => @cfid, :jobid1=>@jobid1,:source=>@source, :function=>@function),:style=>"color: yellow"%></td>
					<%end%>
				</tr>
	        <%end%>
		</table>
	<% end%>
	<br/>
	<%= form_for @call_client_form, :url => callclient1_sale_url(:id => @cfid, :jobid1=>@jobid1,:source=>@source, :function=>@function) do |cc| %>
		<%=cc.hidden_field :day10, :value=>@selected_foll_day%>
		<%=cc.hidden_field :month10, :value=>@selected_foll_month%>
		<%=cc.hidden_field :year10, :value=>@selected_foll_year%>

 		<table border="1" class="mystyle">
			<tr class="cell">
				<td><%=cc.label :tstatus, "TStatus: " %></td>
				<td><%=cc.select :tstatus, options_for_select(@tstatus_options, @selected_tstatus), {}, {:onchange => 'tstatus()'}%></td>
			</tr>
			<tr border="1" class="cell">
				<td><%= cc.label :notes, "Notes: " %></td>
				<td><%= cc.text_field :notes, :size => 30 %></td>
			</tr>				
			<tr border="1" class="cell">
				<td><%= cc.label :year, "Follow Up: " %></td>
				<td>
					<%=cc.select :year, options_for_select(@years,@selected_foll_year)%>
					<%=cc.select :month, options_for_select(@months,@selected_foll_month)%>
					<%=cc.select :day, options_for_select(@days,@selected_foll_day)%>
				</td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td>&nbsp;</td>
				<td><%= cc.submit "Record Connection Call" %></td>
			</tr>
		</table>
	<%end%>	
	<br/>	
	<h3><b><%= link_to '<<<Call Previous Client', previousclient_sale_path(:id => @cfid, :jobid1=>@jobid1, :source=>@source, :function=>@function)%>&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;<%= link_to 'Call Next Client>>>', nextclient_sale_path(:id => @cfid, :jobid1=>@jobid1, :source=>@source, :function=>@function)%></b></h3><br/></br>
	<%if @source=='callclient'%>
		<h3><b><b><%= link_to 'Client List', clientlist_sales_path%></b><br/>
</b></h3>
	<%end%>
</fieldset>
</div>

<div id="show_satcall" style=<%=sat_call_display%>>
	<fieldset class="function">
	<legend>Function Satisfaction</legend>

	<%if !@cfmess.nil?%>
		<h1><font color="blue"><%=@cfmess%></font></h1>
	<%end%>


	<% if !@jobs_2013.nil? then %>
		
				<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>Job ID</b></th>
					<th><b>Address</b></th>
					<th><b>Job Desc</b></th>
					<th><b>Price</b></th>
					<th><b>Crew</b></th>
					<th><b>Minutes</b></th>
					<th><b>Date Done</b></th>
					<th><b>Days To Pay</b></th>
				</tr>	
			<%@jobs_2013.each do |job|
			  class5='cell'	
			  if job.jobdnf=='dnf'
			  	class5='dnf'
			  elsif	job.jobdnf=='sat'
			  	class5='sat'
			  end	
			%>
				<tr class=<%=class5%>>
					<td><b><%= job.jobid %></b></td>
					<td><b><%= job.address %></b></td>
					<td><b><%= job.jobdesc %></b></td>
					<td><b><%= number_to_currency job.price %></b></td>
					<td><b><%= job.crewname %></b></td>
					<td><b><%= job.minutes %></b></td>
					<td><b><%= job.datebi %></b></td>
					<td><b><%= job.daystopay %></b></td>
					<td><%= link_to 'Create DNF', makednf_function_path(:jobid => job.jobid, :jobid1=>@jobid,:source=>@source, :function=>@function),:style=>"color: yellow"%></td>
				</tr>	
			<%end%>
		</table>

		
  		<% end%>
	<br/>
	<%= form_for @sat_call_form, :url => savesatcall_function_url(:id => @cfid, :jobid1=>@jobid1, :source=>@source, :function=>@function) do |cc| %>
 		<table border="1" class="mystyle">
			<tr class="cell">
				<td><%=cc.label :type %></td>
				<td><%=cc.select :type, options_for_select(@sat_options, @selected_sat)%></td>
			</tr>
			<tr border="1" class="cell">
				<td><%= cc.label :comments %></td>
				<td><%= cc.text_field :comments, :size => 30 %></td>
			</tr>				
			<tr style="padding-top:10px" border="1" class="cell">
				<td>&nbsp;</td>
				<td><%= cc.submit "Record Satisfaction" %></td>
			</tr>
		</table>
	<%end%>	
	<br/>	
	<%if @source=='satcall'%>
		<h3><b><%= link_to 'Call Next Satisfaction Client', nextsatclient_function_path(:cfid => @cfid,:jobid1=>@jobid1, :source=>@source, :function=>@function)%></b></h3><br/>
		<h3><b><%= link_to 'Satisfaction Calls', satisfaction1_functions_path,%></b></h3><br/>
	<%end%>
</fieldset>
</div>



<%end%>


<fieldset class="mystyle">
	<legend>Client Profile</legend>

	<%if !@nosale.nil?%>
		<h1><font color="red"><%=@nosale%></font></h1>
	<%end%>

	<%if !@cfmess.nil?%>
		<h1><font color="red"><%=@cfmess%></font></h1>
	<%end%>


<%if !@prices_all.nil? && !@prices_all.empty? then%>
<b>Properties</b>
	<table border="1" class="mystyle">
			<tr class="cell">
				<th><b>Address</b></th>
				<th><b>Post Code</b></th>
				<th><b>Perly</b></th>
				<th><b>W1 Price</b></th>
				<th><b>EH Price</b></th>
				<th><b>EG Price</b></th>
			</tr>	
		<%@prices_all.each do |pr|%>
			<tr class="cell">
				<td><b><%= pr.address %></b></td>
				<td><b><%= pr.post_code %></b></td>
				<td><b><%= pr.perly %></b></td>
				<td><b><%= number_to_currency pr.w1 %></b></td>
				<td><b><%= number_to_currency pr.eh %></b></td>
				<td><b><%= number_to_currency pr.eg %></b></td>
				<td><%= link_to 'Make Sale', makesale_sale_path(:jobinfoid => pr.id, :jobid1=>@jobid1, :source => @source, :function=>@function),:style=>"color: yellow"%></td>
			</tr>	
		<%end%>
	</table>
<%end%>
<br/>


<%if !@jobs_upcoming.nil? && !@jobs_upcoming.empty? then%>
<b>Upcoming Jobs</b>
	<table border="1" class="mystyle">
			<tr class="cell">
				<th><b>Job ID</b></th>
				<th><b>Address</b></th>
				<th><b>Job Desc</b></th>
				<th><b>Price</b></th>
				<th><b>Type</b></th>
				<th><b>Start Date</b></th>
			</tr>	
		<%@jobs_upcoming.each do |job|
			  class5='cell'	
			  if job.jobdnf=='dnf'
			  	class5='dnf'
			  elsif	job.jobdnf=='sat'
			  	class5='sat'
			  end	
		%>
			<tr class=<%=class5%>>
				<td><b><%= job.jobid %></b></td>
				<td><b><%= job.address %></b></td>
				<td><b><%= job.jobdesc %></b></td>
				<td><b><%= number_to_currency job.price %></b></td>
				<td><b><%= job.type %></b></td>
				<td><b><%= job.sdate %></b></td>
				<%if job.jobdnf=='job'%>
					<td><%= link_to 'Edit Sale', modifysale_sale_path(:jobid => job.jobid, :jobid1=>@jobid1,  :source=>@source, :function=>@function),:style=>"color: yellow"%></td>
					<td><%= link_to 'Delete Sale', deletesale_sale_path(:id=>@cfid, :jobid => job.jobid, :jobid1=>@jobid1,  :source=>@source, :function=>@function),:style=>"color: yellow"%></td>
				<%elsif  job.jobdnf=='dnf'%>
					<td><%= link_to 'Edit DNF', modifydnf_function_path(:dnfid => job.jobid, :jobid1=>@jobid,:source=>@source, :function=>@function),:style=>"color: yellow"%></td>
				<%end%>					

			</tr>	
		<%end%>
	</table>
<%end%>
<br/>

<%if !@jobs_2013.nil? && !@jobs_2013.empty? then%>
<b>2013 Completed Jobs</b>
	<table border="1" class="mystyle">
			<tr class="cell">
				<th><b>Job ID</b></th>
				<th><b>Address</b></th>
				<th><b>Job Desc</b></th>
				<th><b>Price</b></th>
				<th><b>Date Done</b></th>
				<th><b>Crew</b></th>
				<th><b>Minutes</b></th>
			</tr>	
		<%@jobs_2013.each do |job|
			  class5='cell'	
			  if job.jobdnf=='dnf'
			  	class5='dnf'
			  elsif	job.jobdnf=='sat'
			  	class5='sat'
			  end	
		%>
			<tr class=<%=class5%>>
				<td><b><%= job.jobid %></b></td>
				<td><b><%= job.address %></b></td>
				<td><b><%= job.jobdesc %></b></td>
				<td><b><%= number_to_currency job.price %></b></td>
				<td><b><%= job.datebi %></b></td>
				<td><b><%= job.crewname %></b></td>
				<td><b><%= job.minutes %></b></td>

				<%if  job.jobdnf=='dnf'%>
					<td><%= link_to 'Edit DNF', modifydnf_function_path(:dnfid => job.jobid, :jobid1=>@jobid,:source=>@source, :function=>@function),:style=>"color: yellow"%></td>
			    <%elsif job.jobdnf=='job'%>		
					<td><%= link_to 'Create DNF', makednf_function_path(:jobid => job.jobid, :jobid1=>@jobid,:source=>@source, :function=>@function),:style=>"color: yellow"%></td>
					<%if job.sat.nil?%>
						<td><%= link_to 'Satisfaction Call', satisfaction_from_client_profile_function_path(:id => @cfid, :jobid1=>job.jobid, :source=>'satcall',:function=>'satcall'),{:style=>"color: yellow"}%></td>
					<%end%>
				<%end%>					

			</tr>	
		<%end%>
	</table>
<%end%>
<br/>



<button id="completedjobs" onclick="show_completedjobs()" >Show Completed Jobs</button><br/>
<div id="show_completedjobs" style="display:none">
	<%if !@jobs_all.nil? && !@jobs_all.empty? then%>
	<b>Completed Jobs</b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>Job ID</b></th>
					<th><b>Address</b></th>
					<th><b>Job Desc</b></th>
					<th><b>Price</b></th>
					<th><b>Crew</b></th>
					<th><b>Minutes</b></th>
					<th><b>Date Done</b></th>
					<th><b>Days To Pay</b></th>
				</tr>	
			<%@jobs_all.each do |job|
			  class5='cell'	
			  if job.jobdnf=='dnf'
			  	class5='dnf'
			  elsif	job.jobdnf=='sat'
			  	class5='sat'
			  end	
			%>
				<tr class=<%=class5%>>
					<td><b><%= job.jobid %></b></td>
					<td><b><%= job.address %></b></td>
					<td><b><%= job.jobdesc %></b></td>
					<td><b><%= number_to_currency job.price %></b></td>
					<td><b><%= job.crewname %></b></td>
					<td><b><%= job.minutes %></b></td>
					<td><b><%= job.datebi %></b></td>
					<td><b><%= job.daystopay %></b></td>
				</tr>	
			<%end%>
		</table>
	<%end%>
</div>

<button id="editclient" onclick="show_editclient()" >Show Edit Client</button><br/>
<div id="show_editclient" style="display:none">

<%= form_for @edit_client_form, :url => editclient_function_url(:id => @cfid, :jobid1=>@jobid,:source=>@source, :function=>@function) do |cc| %>
	<table border="1" class="mystyle">
	    <%=cc.hidden_field :source, :value=>@source%>
		<tr class="cell">
			<td><b><%=cc.label :company%></b></td>
			<td><b><%=cc.text_field :company, :value=> @client.company, :size=>"8x1" %></b></td>
			<td><b><%=cc.label :honorific%></b></td>
			<td><b><%=cc.text_field :honorific, :value=> @client.honorific, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :firstname%></b></td>
			<td><b><%=cc.text_field :firstname, :value=> @client.firstname, :size=>"8x1" %></b></td>
			<td><b><%=cc.label :lastname%></b></td>
			<td><b><%=cc.text_field :lastname, :value=> @client.lastname, :size=>"8x1" %></b></td>
		</tr>	
		<tr class="cell">
			<td><b><%=cc.label  'Billing Address'%></b></td>
			<td><b><%=cc.label   @client.address %></b></td>
			<td><b><%=cc.label :city%></b></td>
			<td><b><%=cc.text_field :city, :value=> @client.city, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :province%></b></td>
			<td><b><%=cc.text_field :province, :value=> @client.province, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :postcode%></b></td>
			<td><b><%=cc.text_field :postcode, :value=> @client.postcode, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :perly%></b></td>
			<td><b><%=cc.text_field :perly, :value=> @client.perly, :size=>"5x1" %></b></td>
		</tr>	
		<tr class="cell">
			<td><b><%=cc.label :phone%></b></td>
			<td><b><%=cc.text_field :phone, :value=> @client.phone, :size=>"7x1" %></b></td>
			<td><b><%=cc.label :offphone%></b></td>
			<td><b><%=cc.text_field :offphone, :value=> @client.offphone, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :cellphone%></b></td>
			<td><b><%=cc.text_field :cellphone, :value=> @client.cellphone, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :fax%></b></td>
			<td><b><%=cc.text_field :fax, :value=> @client.fax, :size=>"5x1" %></b></td>
			<td><b><%=cc.label :email%></b></td>
			<td><b><%=cc.text_field :email, :value=> @client.email, :size=>"5x1" %></b></td>
		</tr>	
		<tr style="padding-top:10px" border="1" class="cell">
			<td><b><%=cc.label :contactstatus, :value=>'Contact Status'%></b></td>
			<td><%=cc.select :contactstatus, options_for_select(@contact_options, @selected_contact)%></td>
			<td>&nbsp;</td>
			<td><%= cc.submit "Edit Client Info" %></td>
		</tr>
	</table>
<%end%>	
</div>


</fieldset>



