<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>findclients.html</title>
	  <%= javascript_include_tag :defaults %>
	  <%= yield :head %>
  </head>
  <body>
  <%= yield %>
  <link rel="stylesheet" type="text/css" href="global.css" />

<%=@xx%>
<% if !@clients.nil? %>
<div id="clients">
	<fieldset class="mystyle">
	<% if @clients.empty? %>
	<p>No matching clients found.</p>
	<% else %>
	        <h2>Search Results[<%=@clients.length%>]</h2>
			<table border="1" class="mystyle">
				<% @clients.each do |client|
					String date='unknown'
					if !client.registerdate.nil?
						date=client.registerdate.to_formatted_s(:long_ordinal)
					end	
			    %>
			    	<tr border="1" class="cell"> 
						<td><%= client.CFID %></td><td><%= client.lastname %></td><td><%= client.address %></td>
						<td><%= client.phone %></td><td><%=  date %></td>
						<td><%= link_to 'Client Profile', clientprofile_function_path(:id => client.CFID,:source=>'smartsearch'),{:style=>"color: yellow"}%></td>
						<td><%= link_to 'Call Client', clientprofile_function_path(:id => client.CFID,:source=>'smartsearch',:function=>'callclient'),{:style=>"color: yellow"}%></td>
					</tr>
				<% end %>
			</table>
	<% end %>
</fieldset>
</div>	
<% end %>

  </body>
</html>
