
<fieldset class="mystyle">
<legend>Current Time Logs</legend>
<%if !@loghours.nil? %>
	<%= link_to 'Log Me In', loginuser_functions_path(:hrid=>@hrid)%><br/><br/>
<%end%>	
<%if !@wslist.empty?%>
 	<table class="mystyle" border="1">
			<tr class="cell" border="1">
				<td>Name</td>
				<td>Date</td>
				<td>Start Time</td>
				<td>Finish Time</td>
				<td>Notes</td>
			</tr>
    	<% @wslist.each do |ws|
    		String shour=ws.stime.hour.to_s 
    	    if shour.length==1
    	    	shour='0'+shour	
    	    end
    		String smin=ws.stime.min.to_s 
    	    if smin.length==1
    	    	smin='0'+smin	
    	    end
    	%>

			<%if !ws.ftime.nil?%>
					<tr  class="cell" border="1">
						<td><%=ws.HRID %></td>
						<td><%=ws.profiledate.to_formatted_s(:long_ordinal) %></td>
						
						<%if !ws.stime.nil?%>
							<td><%=shour.concat(':').concat(smin) %></td>
						<%else%>
							<td>nil</td>	
						<%end%>
						<%if !ws.ftime.nil?
			    		String fhour=ws.ftime.hour.to_s 
			    	    if fhour.length==1
			    	    	fhour='0'+fhour	
			    	    end
			    		String fmin=ws.ftime.min.to_s 
			    	    if fmin.length==1
			    	    	fmin='0'+fmin	
			    	    end
						%>
							<td><%=fhour.concat(':').concat(fmin) %></td>
						<%else%>
							<td>nil</td>	
						<%end%>
						<td><b><%=ws.notes%></b></td>
						<%if @username=='shantz' || @username=='Roger'%>
							<td><%= link_to 'Call Log', calllog_sales_path(:name => ws.HRID),:style=>"color: yellow"%></td>
						<%end%>
					</tr>
			<%else%>
				<%= form_for @work_schedule_form, :url =>logoutuser_functions_url(:hrid=>@hrid)  do |cc| %>
					<tr  class="cell" border="1">
						<td><%=ws.HRID %></td>
						<td><%=ws.profiledate.to_formatted_s(:long_ordinal) %></td>
						
						<%if !ws.stime.nil?%>
							<td><%=shour.concat(':').concat(smin) %></td>
						<%else%>
							<td>nil</td>	
						<%end%>
						<%if !ws.ftime.nil?
				    		String fhour=ws.ftime.hour.to_s 
				    	    if fhour.length==1
				    	    	fhour='0'+fhour	
				    	    end
				    		String fmin=ws.ftime.min.to_s 
				    	    if fmin.length==1
				    	    	fmin='0'+fmin	
				    	    end
						%>
							<td><%=fhour.concat(':').concat(fmin) %></td>
						<%else%>
							<td>nil</td>	
						<%end%>
						<td><b><%=cc.text_field :notes, :value=> ws.notes, :size=>"20x1" %></b></td>
						<%if @username=='shantz' || @username=='Roger'%>
							<td><%= link_to 'Call Log', calllog_sales_path(:name => ws.HRID),:style=>"color: yellow"%></td>
						<%end%>
    					<td><%= cc.submit "Log Out" %></td>
					</tr>
				<%end%>		
			<%end%>
		<%end%>
	</table>
<%end%>
</fieldset>

<br/>
<br/>
<br/>
<%if @open_sessions>0 || (@username=='shantz' || @username=='Roger' || @username=='derek')%>
<fieldset class="mystyle">
	<legend>Menu</legend>
<div id="nav">
	<ul id="menu">
		<li id="mainMenuClients">
			<b>Clients</b>
			<ul>
				<li><%= link_to 'Smart Search', smartsearch_functions_path%></li>
				<li><%= link_to 'Messages', messagelog_functions_path%></li>
				<li><%= link_to 'Create Message', logmessage_functions_path%></li>
			</ul>
		</li>
		<li id="mainMenuSales">
			<b>Sales</b>
			<ul>
				<li><%= link_to 'Sales', sales_path%></li>
				<li><%= link_to 'Read Co Sales Stats', stats1_functions_path%></li>
				<li><%= link_to 'Schedule', schedule_sales_path%></li>
				<li><%= link_to 'Sales History', saleshistory_sales_path%></li>
				<li><%= link_to 'Satisfaction Calls', loadsatisfaction_functions_path%></li>
			</ul>
		</li>
		<li id="mainMenuProduction">
			<b>Production</b>
			<ul>
				<li><%= link_to 'Crew Tracker', tracker_crews_path%></li>
			</ul>
		</li>
		<li id="mainMenuTasks">
			<b>Tasks</b>
			<ul>
				<li><%= link_to 'Make Production Stats', stats_production_functions_path%></li>
			</ul>
		</li>
		<li id="mainMenuHumanResources">
			<b>HR</b>
			<ul>
				<%if @username=='Roger' || @username=='shantz' || @username=='derek'%>
					<li><%= link_to 'Verify Pay', verpay_employees_path%></li>
					<li><%= link_to 'Individual Pay', showindpay_employees_path%></li>
					<li><%= link_to 'Recruiting Menu', recruiting_menu_employees_path%></li>
				<%end%>
			</ul>
		</li>
		<li id="mainMenuStats">
			<b>Stats</b>
			<ul>
				<%if @username=='Roger' || @username=='shantz'%>
					<li><%= link_to 'Read Co Sales Stats', stats1_functions_path%></li>
					<li><%= link_to 'Kill Stats', kill_stats_functions_path%></li>
					
					<li><%= link_to 'Make Co Summer Sales Stats', co_stats_functions_path%></li>
					<li><%= link_to 'Make Co Sept/Oct Sales Stats', co_stats_septoct_functions_path%></li>
					<li><%= link_to 'Make Co Nov/Dec Sales Stats', co_stats_novdec_functions_path%></li>
					<li><%= link_to 'Make Ind Sales Stats7', ind_stats_7_functions_path%></li>
					<li><%= link_to 'Make Ind Sales Stats', ind_stats_functions_path%></li>
					<li><%= link_to 'Make Schedule Stats', stats_schedule_functions_path%></li>
					<li><%= link_to 'Make Production Stats', stats_production_functions_path%></li>
				<%end%>
			</ul>
		</li>
		
		<li id="mainMenuManagement">
			<b>Management</b>
			<ul>
				<%if @username=='Roger' || @username=='shantz'%>
					<li><%= link_to 'Data Check', showdatacheck_functions_path%></li>
					<li><%= link_to 'Send Estimate', send_estimate_mail_functions_path%></li>
				<%if @username=='Roger' || @username=='shantz' || @username=='derek'%>
					<li><%= link_to 'Call Log', newcalllog5_sales_path%></li>
				<%end%>	
					<li><%= link_to 'Find Clients', findclients_sales_path%></li>
					<li><%= link_to 'Call Profile', callprofile_sales_path%></li>
					<li><%= link_to 'Add New Estimates to Call List (EHEH)', screenconvertcalls_sales_path%></li>
					<li><%= link_to 'Add Sale Info to Call List (EHEH)', screensales_sales_path%></li>
				<%end%>
			</ul>
		</li>
	</ul>

</div>

<br/>
<br/>
		<%if !@messsales.nil?%>
			<b><%=@messsales%></b>
		<%end%> 


		<b><a href="http://www.whiteshark.ca/internal">White Shark Internal</a></b><br/><br/>
	<%if @username=='Roger' || @username=='shantz' || @username=='Mac'%>
	<%end%>	
	<%if @username=='Roger' || @username=='shantz'%>
		<%if !@messsales.nil?%>
			<b><%=@messsales%></b>
		<%end%> 
	<%end%>

</fieldset>
<%end%>
