<p><%=@l%></p>
<fieldset class="mystyle">
	<legend>Menu</legend>
<b><%= link_to 'Smart Search', smartsearch_functions_path%></b><br/>
<b><%= link_to 'Sales', sales_path%></b><br/>
<b><%= link_to 'Messages', messagelog_functions_path%></b><br/>
<b><%= link_to 'Create Message', logmessage_functions_path%></b><br/>
<b><%= link_to 'Satisfaction Calls', satisfaction_functions_path%></b><br/>
<b><%= link_to 'Stats', stats_functions_path%></b><br/><br/><br/>

<%if @username=='Roger' || @username=='Shantz'%>
	<b><%= link_to 'Find Clients', findclients_sales_path%></b><br/>
	<b><%= link_to 'Call Profile', callprofile_sales_path%></b><br/>
	<b><%= link_to 'Call Profile', callprofile_sales_path%></b><br/>
<%end%>

</fieldset>