<%= form_for @login_form, :url => login_functions_url do |log| %>
	<fieldset class="mystyle">
	<%if !@mess.nil?%>
		<b><%=@mess%></b><br/><br/>
	<%end%>
		<legend>Log In Internal</legend>
		<b>Ruby Version 1.62&nbsp;&nbsp;&nbsp;July 22/13&nbsp;1:20pm</b><br/>
 		<table class="mystyle" border="1">
			<tr  class="cell" border="1">
				<td><%=log.label :name %></td>
				<td>
					<%=log.text_field  :name, :size =>30 %>
				</td>
			</tr>
			<tr class="cell" border="1">
				<td><%= log.label :password %></td>
				<td>
					<%= log.password_field :password, :size => 30 %>
				</td>
			</tr>
				

			<tr style="padding-top:10px"  class="cell" border="1">
				<td>&nbsp;</td>
				<td><%= log.submit "Log In" %></td>
			</tr>
		</table>
	<br/><br/>
	<b>Satisfaction Next button will take you to next setup at the end of list.</b><br/>
	<b>Called Satisfactions show up in black and red.</b><br/>
	<br/>
	<b>Disable function for various save buttons so the same data is not recorded several times.</b><br/>
	<b>Load satisfaction in batches. If you ask for 20, you may get 2/3 clients. This means the system checked 20 clients and 17 had satisfaction calls.</b><br/>
	</fieldset>
<% end%>
