<%= form_for @login_form, :url => login_functions_url do |log| %>
	<fieldset class="mystyle">
	<%if !@mess.nil?%>
		<b><%=@mess%></b><br/><br/>
	<%end%>
		<legend>Log In Internal</legend>
		<b>Ruby Version 1.54&nbsp;&nbsp;&nbsp;June 20/13&nbsp;12:15am</b><br/>
 		<table class="mystyle" border="1">
			<tr  class="cell" border="1">
				<td><%=log.label :name %></td>
				<td>
					<%=log.text_field  :name, :size =>30 %>
				</td>
			</tr>
			<tr class="cell" border="1">
				<td><%= log.label :password %></td>
				<td>
					<%= log.password_field :password, :size => 30 %>
				</td>
			</tr>
				

			<tr style="padding-top:10px"  class="cell" border="1">
				<td>&nbsp;</td>
				<td><%= log.submit "Log In" %></td>
			</tr>
		</table>
	<br/><br/>
	<b>Delete button for calls works.</b><br/>
	<b>Floater Options only available after July 1. This won't be an issue again until Nov 15-30. All slots are good or I'll close them.</b><br/>
	<b>Name of City and Day that we go there is shown in client profile and sales</b><br/>
	<b>Client status now updates properly. So if you come by a client that should not come up, resave it in edit client info</b><br/>
	</fieldset>
<% end%>
