

<%= form_for @login_form, :url => login_functions_url do |log| %>
	<fieldset class="mystyle">
		<legend>Log In Internal</legend>
		<b>Ruby Version 1.34 &nbsp;&nbsp;May 8&nbsp;11:30 am</b><br/>
 		<table class="mystyle" border="1">
			<tr  class="cell" border="1">
				<td><%=log.label :name %></td>
				<td>
					<%=log.text_field  :name, :size =>30 %>
				</td>
			</tr>
			<tr class="cell" border="1">
				<td><%= log.label :password %></td>
				<td>
					<%= log.password_field :password, :size => 30 %>
				</td>
			</tr>
				

			<tr style="padding-top:10px"  class="cell" border="1">
				<td>&nbsp;</td>
				<td><%= log.submit "Log In" %></td>
			</tr>
		</table>
	<br/><br/>
	<b>Changes to this version>>></b><br/>
	<b>Next and Previous skips today's calls in red'</b><br/>
	<b>Profile shows highest CF called that day</b><br/><br/>
	<b>New Estimates Works</b><br/>
	<b>Crashes to some profies was fixed</b><br/>
	</fieldset>
<% end%>
