


<%if !@stats.nil?%>
<fieldset class="mystyle">
	<legend>Daily Stats</legend>
	 	<table class="mystyle" border="1">
			<tr class="cell" border="1">
				<td>Name</td>
				<td>Assists</td>
				<td>Sales</td>
				<td>Oct Sales</td>
				<td>Nov/Dec Sales</td>
			</tr>
			<%@stats.each do |k, stat|%>
				<tr class="cell" border="1">
					<td><%=stat.name%></td>
					<td><%=stat.assists%></td>
					<td><%=stat.sales%></td>
					<td><%=stat.sales1%></td>
					<td><%=stat.sales2%></td>
				</tr>
		    <%end%>
</fieldset>
<%end%>


