<b><%= link_to 'Main Menu', login1_functions_path%></b><br/><br/>

<%= form_for @sdf, :url => datacheck_functions_url do |cc| %>
	<fieldset class="mystyle">
		<legend>Show Data Check</legend>
		<table border="1" class="mystyle">
			<tr border="1" class="cell">
				<td><%=cc.label 'Start Date' %></td>
				<td>
					<%=cc.select :syear, options_for_select(@year_options, @selected_syear)%>
					<%=cc.select :smonth, options_for_select(@month_options, @selected_smonth)%>
					<%=cc.select :sday, options_for_select(@day_options, @selected_sday)%>
				</td>
			</tr>

			<tr border="1" class="cell">
				<td><%=cc.label 'Finish Date' %></td>
				<td>
					<%=cc.select :fyear, options_for_select(@year_options, @selected_fyear)%>
					<%=cc.select :fmonth, options_for_select(@month_options, @selected_fmonth)%>
					<%=cc.select :fday, options_for_select(@day_options, @selected_fday)%>
				</td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td colspan=3, align=center><%= cc.submit "Data Check" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>
