<b><%= link_to 'Main Menu', login1_functions_path%></b>

<%if !@sbs.nil? && !@sbs.empty? then%>
		<b>Company Summer Sales Sales&nbsp;&nbsp;&nbsp;Stats Last Generated:<%=@ts_co%></b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>YEAR</b></th>
					<th><b>Current</b></th>
					<th><b>YTD</b></th>
					<th><b>Yesterday</b></th>
					<th><b>Last Seven Days</b></th>
					<th><b>Tomorrow</b></th>
					<th><b>2 Days Out</b></th>
					<th><b>3 Days Out</b></th>
					<th><b>4 Days Out</b></th>
					<th><b>5 Days Out</b></th>
					<th><b>Next Seven Days</b></th>
				</tr>	
			<%@sbs.each do |sb|
			  class5='cell'	
			%>
				<tr class=<%=class5%>>
					<td><b><%= sb.year %></b></td>
					<td><b><%= sb.salescurr %></b></td>
					<td><b><%= sb.salesytd %></b></td>
					<td><b><%= sb.yesterday %></b></td>
					<td><b><%= sb.lastseven %></b></td>
					<td><b><%= sb.tomorrow %></b></td>
					<td><b><%= sb.two %></b></td>
					<td><b><%= sb.three %></b></td>
					<td><b><%= sb.four %></b></td>
					<td><b><%= sb.five %></b></td>
					<td><b><%= sb.nextseven %></b></td>
				</tr>	
			<%end%>
		</table>
<%end%>
<br/><br/>

<%if !@sbs_septoct.nil? && !@sbs_septoct.empty? then%>
		<b>Company SEPT/OCT Sales&nbsp;&nbsp;&nbsp;Stats Last Generated:<%=@ts_co_septoct%></b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>YEAR</b></th>
					<th><b>Current</b></th>
					<th><b>YTD</b></th>
					<th><b>Yesterday</b></th>
					<th><b>Last Seven Days</b></th>
					<th><b>Tomorrow</b></th>
					<th><b>2 Days Out</b></th>
					<th><b>3 Days Out</b></th>
					<th><b>4 Days Out</b></th>
					<th><b>5 Days Out</b></th>
					<th><b>Next Seven Days</b></th>
				</tr>	
			<%@sbs_septoct.each do |sb|
			  class5='cell'	
			%>
				<tr class=<%=class5%>>
					<td><b><%= sb.year %></b></td>
					<td><b><%= sb.salescurr %></b></td>
					<td><b><%= sb.salesytd %></b></td>
					<td><b><%= sb.yesterday %></b></td>
					<td><b><%= sb.lastseven %></b></td>
					<td><b><%= sb.tomorrow %></b></td>
					<td><b><%= sb.two %></b></td>
					<td><b><%= sb.three %></b></td>
					<td><b><%= sb.four %></b></td>
					<td><b><%= sb.five %></b></td>
					<td><b><%= sb.nextseven %></b></td>
				</tr>	
			<%end%>
		</table>
<%end%>
<br/><br/>

<%if !@sbs_novdec.nil? && !@sbs_novdec.empty? then%>
		<b>Company NOV/DEC Sales&nbsp;&nbsp;&nbsp;Stats Last Generated:<%=@ts_co_novdec%></b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>YEAR</b></th>
					<th><b>Current</b></th>
					<th><b>YTD</b></th>
					<th><b>Yesterday</b></th>
					<th><b>Last Seven Days</b></th>
					<th><b>Tomorrow</b></th>
					<th><b>2 Days Out</b></th>
					<th><b>3 Days Out</b></th>
					<th><b>4 Days Out</b></th>
					<th><b>5 Days Out</b></th>
					<th><b>Next Seven Days</b></th>
				</tr>	
			<%@sbs_novdec.each do |sb|
			  class5='cell'	
			%>
				<tr class=<%=class5%>>
					<td><b><%= sb.year %></b></td>
					<td><b><%= sb.salescurr %></b></td>
					<td><b><%= sb.salesytd %></b></td>
					<td><b><%= sb.yesterday %></b></td>
					<td><b><%= sb.lastseven %></b></td>
					<td><b><%= sb.tomorrow %></b></td>
					<td><b><%= sb.two %></b></td>
					<td><b><%= sb.three %></b></td>
					<td><b><%= sb.four %></b></td>
					<td><b><%= sb.five %></b></td>
					<td><b><%= sb.nextseven %></b></td>
				</tr>	
			<%end%>
		</table>
<%end%>
<br/><br/>

<%if !@indstats7.nil? && !@indstats7.empty? then%>
		<b>Individual Performance Last Seven Days(FALL Sales)&nbsp;&nbsp;&nbsp;Stats Last Generated:<%=@ts_ind7%></b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>Name</b></th>
					<th><b>Sales</b></th>
					<th><b>Direct Sales</b></th>
					<th><b>Assisted Sales</b></th>
					<th><b>Attempts</b></th>
					<th><b>Percentage</b></th>
					<th><b>Attempts Today</b></th>
					<th><b>Call In Sales Today</b></th>
					
				</tr>	
			<%@indstats7.each do |k,v|
			  	
			%>
				<tr class='cell'>
					<td><b><%= v.name5%></b></td>
					<td><b><%= v.sales %></b></td>
					<td><b><%= v.salesdir %></b></td>
					<td><b><%= v.salesass %></b></td>
					<td><b><%= v.atts %></b></td>
					<td><b><%= v.per %></b></td>
					<td><b><%= v.attscurr %></b></td>
					<td><b><%= v.salescurr %></b></td>
					<%if @username=='shantz' || @username=='Roger'%>
						<td><%= link_to 'Call Log', calllog_sales_path(:name => v.name5),:style=>"color: yellow"%></td>
					<%end%>
				</tr>	
			<%end%>
		</table>
<%end%>
<br/><br/>

<%if !@indstats.nil? && !@indstats.empty? then%>
		<b>Individual Performance YTD(FALL)&nbsp;&nbsp;&nbsp;Stats Last Generated:<%=@ts_ind%></b>
		<table border="1" class="mystyle">
				<tr class="cell">
					<th><b>Name</b></th>
					<th><b>Sales</b></th>
					<th><b>Direct Sales</b></th>
					<th><b>Assisted Sales</b></th>
					<th><b>Attempts</b></th>
					<th><b>Percentage</b></th>
					<th><b>Attempts Today</b></th>
					<th><b>Call In Sales Today</b></th>
				</tr>	
			<%@indstats.each do |k,v|
			  	
			%>
				<tr class='cell'>
					<td><b><%= v.name5%></b></td>
					<td><b><%= v.sales %></b></td>
					<td><b><%= v.salesdir %></b></td>
					<td><b><%= v.salesass %></b></td>
					<td><b><%= v.atts %></b></td>
					<td><b><%= v.per %></b></td>
					<td><b><%= v.attscurr %></b></td>
					<td><b><%= v.salescurr %></b></td>
				</tr>	
			<%end%>
		</table>
<%end%>


