<footer>
	<div id="contact">
		<%= I18n.t(:white_shark_ltd) %> &nbsp;&nbsp;
		<%= image_tag 'contact_phone.gif' %>
		&nbsp;&nbsp;(416)363-7420&nbsp;&nbsp;
		<%= image_tag 'contact_email.gif' %>
		<a href="mailto:customerservice@whiteshark.ca">customerservice@whiteshark.ca</a>
	</div>
	<div>
		<center>
		<%= I18n.t(:call_us_or) %> <%= link_to I18n.t(:click_here), :controller => 'home', :action => 'contactUs' %> <%= I18n.t(:free_quote) %> 
		</center>
	</div>
</footer>
