<script type="text/javascript">
  	$(function() {
		$("#services section").click(function() {
			document.location = '<%= services_path %>';
		});
		rotate_images({
			block: "fadeshow",
				width: 580,
				height: 393,
				images: [
				{
					src: '/assets/alex.jpg', 
					alt: 'Crew at work',
					link: '#'
				},
				{
					src: '/assets/window359.jpg', 
					alt: 'Crew at work',
					link: '#'
				},
				{
					src: '/assets/window360.jpg', 
					alt: 'Crew at work',
					link: '#'
				},
				{
					src: '/assets/window361.jpg', 
					alt: 'Crew at work',
					link: '#'
				},
				{
					src: '/assets/window362.jpg', 
					alt: 'Crew at work',
					link: '#'
				}
				]
		});
	});
</script>
<section id="content">
	<div id="banner">
		<div id="fadeshow">
		</div>
		<p><%= I18n.t(:company_overview) %></p>
		<p><%= I18n.t(:our_crew) %></p>				
	</div>
	<div id="services">
		<section id="window">
			<h2><%= I18n.t(:window_cleaning) %></h2>
			<p><%= I18n.t(:window_cleaning_info) %></p>
			<ul>
				<li><%= I18n.t(:exterior) %></li>
				<li><%= I18n.t(:interior) %></li>
				<li><%= I18n.t(:storm_window_cleaning) %></li>
				<li><%= I18n.t(:construction_cleaning) %></li>
			</ul>
		</section>
		<section id="eaves">
			<h2><%= I18n.t(:eaves_cleaning) %></h2>
			<p><%= I18n.t(:eaves_cleaning_info) %></p>
			<ul>
				<li><%= I18n.t(:eaves_trough) %></li>
				<li><%= I18n.t(:downspout) %></li>
			</ul>
		</section>
		<section id="painting">
			<h2><%= I18n.t(:painting) %></h2>
			<p><%= I18n.t(:painting_info) %></p>
			<ul>
				<li><%= I18n.t(:interior_painting) %></li>
				<li><%= I18n.t(:exterior_painting) %></li>
				<li><%= I18n.t(:painting_removal) %></li>
			</ul>
		</section>
	</div>
</section>
