<div class="content">

<p class="header3"><input type="radio" name="usertype" value="registered" checked="true" onclick="window.location='/user/login'"/>
I'm registered on White Shark Online Services. Please let me in.</p>

<div id="registered">
<%= form_for @login_form, :url => {:action => :process_login} do |form| %>
	<fieldset>
		<legend>Login to White Shark Online Services</legend>
		<table border="0">
			<tr>
				<td><%= form.label :email, "Email address: " %></td>
				<td><%= form.text_field :email, :size => 30 %></td>
			</tr>
			<tr>
				<td><%= form.label :password, "Password: " %></td>
				<td><%= form.password_field :password, :size => 30 %></td>
			</tr>
			<tr style="padding-top:10px">
				<td>&nbsp;</td>
				<td><%= form.submit "Login" %></td>
			</tr>
		</table>
		<p><%= link_to 'I forgot my password', :action => 'forgot_password' %></p>
	</fieldset>
<% end %>
</div>

<p class="header3"><input type="radio" name="usertype" value="existing" onclick="window.location='/user/register'"/>
I'm a Client of White Shark Ltd. Please register me on White Shark Online Services</p>
</div>
