<b>Sorry Natalie!!</b>

<b><%= link_to 'Main Menu', login1_functions_path%></b><br/><br/>

<% if !@callers.nil? %>
	        <h2>Holder Profile</h2>
			<table border='1' class="mystyle">
				
			    	<tr border="1" class="cell"> 
						<th>Holder</th>
						<th>Number</th>
						<th>Rating 4.6-4.7</th>
						<th>Rating 4.4-4.5</th>
						<th>Rating 4.2-4.3</th>
						<th>Rating 4.0-4.1</th>
						<th>Rating 3.7-3.9</th>
						<th>Rating 3.3-3.6</th>
						<th>New Estimates</th>
					</tr>
				
				
				<% @callers.each do |c| %>
		    		<tr border="1" class="cell">
						<td><%= c.name %></td>
						<td><%= c.num %></td>
						<td><%= c.fourseven %></td>
						<td><%= c.fourfive %></td>
						<td><%= c.fourthree %></td>
						<td><%= c.fourone %></td>
						<td><%= c.threenine %></td>
						<td><%= c.threesix %></td>
						<td><%= c.newests %></td>
					</tr>
				<% end %>
			</table>
<% end %>
<br/><br/>
<%= form_for @action_client_form, :url => actionclients_sales_url do |action| %>
	<fieldset class="mystyle">
		<legend>Action On Clients</legend>
		<table border="1" class="mystyle">
			<tr border="1" class="cell">
				<td><%= action.label :profile %></td>
				<td>
					<%=action.select :profile, options_for_select(@profile_options, @selected_profile)%>
				</td>
			</tr>


			<tr border="1" class="cell">
				<td><%= action.label :from %></td>
				<td>
					<%=action.select :from, options_for_select(@salesp_options, @selected_salesp)%>
				</td>
			</tr>

			<tr border="1" class="cell">
				<td><%= action.label :to %></td>
				<td>
					<%=action.select :to, options_for_select(@salesp_options, @selected_salesp)%>
				</td>
			</tr>

			<tr border="1" class="cell">
				<td><%= action.label :limit %></td>
				<td>
					<%= action.text_field :limit, :size => 30 %>
				</td>
			</tr>



			<tr style="padding-top:10px" border="1" class="cell">
				<td>&nbsp;</td>
				<td><%= action.submit "Action Clients" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>	

<br/><br/>

<%= form_for @find_client_form, :url => searchclients_sales_url do |sales| %>
	<fieldset class="mystyle">
		<legend>Find Clients</legend>
		<table border="1" class="mystyle">
			<tr border="1" class="cell">
				<td><%= sales.label :profile %></td>
				<td>
					<%=sales.select :profile, options_for_select(@profile_options, @selected_profile)%>
				</td>
			</tr>
			<tr border="1" class="cell">
				<td><%= sales.label :lowcf, "Low CF: " %></td>
				<td>
					<%= sales.text_field :lowcf, :value=>@lowcf, :size => 30 %>
				</td>
			</tr>
			<tr border="1" class="cell">
				<td><%= sales.label :limit %></td>
				<td>
					<%= sales.text_field :limit, :value=>@limit, :size => 30 %>
				</td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td>&nbsp;</td>
				<td><%= sales.submit "Find Clients" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>	
