<b><%= link_to 'Load Next Batch Of Clients', nextbatch_sales_path%></b><br/><br/><br/>


<%= form_for @sales_form, :url => loadclients_sales_url do |sales| %>
	<fieldset class="mystyle">
		<legend>Load Clients</legend>
		<table border="1" class="mystyle">
			<tr border="1" class="cell">
				<td><%= sales.label :profile, "Profile: " %></td>
				<td>
					<%=sales.select :profile, options_for_select(@profile_options, @selected_profile)%>
				</td>
			</tr>
			<tr border="1" class="cell">
				<td><%= sales.label :lowcf, "Low CF: " %></td>
				<td>
					<%= sales.text_field :lowcf, :value=>@lowcf, :size => 30 %>
				</td>
			</tr>
			<tr border="1" class="cell">
				<td><%= sales.label :limit %></td>
				<td>
					<%= sales.text_field :limit, :size => 30 %>
				</td>
			</tr>
			<tr style="padding-top:10px" border="1" class="cell">
				<td>&nbsp;</td>
				<td><%= sales.submit "Load Clients" %></td>
			</tr>
		</table>
	</fieldset>
<%end%>	
