<b><%= link_to 'Back To Sales List Index', sales_path%></b><br/><br/><br/>


<% if !@cc.nil? %>
<b><%=@count%>&nbsp;more clients in this profile</b><br/>
<div id="clients">
	<% if @cc.empty? %>
	<p>No matching clients found.</p>
	<% else %>
	        <h2>Search Results</h2>
			<table border='1' class="mystyle">
				
			    	<tr border="1" class="cell"> 
						<th>Num</th>
						<th>CFID</th>
						<th>Name</th>
						<th>Rating</th>
						<th>Summer Calls</th>
						<th>Last Status</td>
						<th>Follow Up</th>
						<th>Call Client</th>
					</tr>
				
				
				<% @cc.each do |c| %>
			        <% if c.laststatus=='Pending'%>
			    		<tr border="1" class="redcell">
			        <%else%>
			    		<tr border="1" class="cell">
			    	<%end%>	 
						<td><%= c.num %></td>
						<td><%= c.cfid %></td>
						<td><%= c.name %></td>
						<td><%= c.rating %></td>
						<td><%= c.summcalls %></td>
						<td><%= c.laststatus %></td>
						<td><%= c.followup %></td>
						<td><%= link_to 'Call Client', clientprofile_function_path(:id => c.cfid, :num=>c.num, :source=>'callclient',:function=>'callclient'),:style=>"color: yellow"%></td>
					</tr>
				<% end %>
			</table>
	<% end %>
</div>	
<% end %>

