<b><%= link_to 'Back To Sales List Index', sales_path%></b><br/><br/><br/>


<% if !@cc.nil? %>
<b><%=@count%>&nbsp;more clients in this profile</b><br/>
<div id="clients">
	<% if @cc.empty? %>
	<p>No matching clients found.</p>
	<% else %>
	        <h2>Search Results</h2>
			<table border='1' class="mystyle">
				
			    	<tr border="1" class="cell"> 
						<th>Num</th>
						<th>CFID</th>
						<th>Rating</th>
						<th>Summer Calls</th>
						<th>Last Status</td>
						<th>Last Call</td>
						<th>Follow Up</th>
						<th>Call Client</th>
					</tr>
				
				
				<% 
			    i=0	
				@cc.each do |c| 
				%>
			        <% date=Date.parse('2013-04-01')
			           today5=Date.today
			        if c.laststatus=='Pending' && c.lastcall>date && c.lastcall!=today5%>
			    		<tr border="1" class="redblackcell">
			        <%elsif c.lastcall==today5%>
			    		<tr border="1" class="blackredcell">
			        <%else%>
			    		<tr border="1" class="cell">
			    	<%end%>	 
						<td><%= i %></td>
						<td><%= c.cfid %></td>
						<td><%= c.rating %></td>
						<td><%= c.summcalls %></td>
						<td><%= c.laststatus %></td>
						<td><%= c.lastcall.to_formatted_s(:long_ordinal) %></td>
						<td><%= c.followup.to_formatted_s(:long_ordinal) %></td>
						<td><%= link_to 'Call Client', clientprofile_function_path(:id => c.cfid, :num=>i, :source=>'callclient',:function=>'callclient'),:style=>"color: yellow"%></td>
					</tr>
				<% 
				i+=1
				end %>
			</table>
	<% end %>
</div>	
<% end %>

