<b>In load clients</b>
<b>TRYING IT</b>
<%=@x%>


<% if !@cc.nil? %>
<div id="clients">
	<% if @cc.empty? %>
	<p>No matching clients found.</p>
	<% else %>
	        <h2>Search Results</h2>
			<table border='1' class="mystyle">
				<% @cc.each do |c|
					String date='unknown'
					if !c.client.registerdate.nil?
						date=c.client.registerdate.to_formatted_s(:long_ordinal)
					end	
			    %>
			    	<tr border="1" class="cell"> 
						<td><%= c.client.CFID %></td><td><%= c.client.lastname %></td><td><%= c.client.address %></td>
						<td><%= c.client.phone %></td><td><%=  date %></td>
						<td><%= link_to 'Call Client', clientprofile_function_path(:id => c.client.CFID,:source=>'callclient',:function=>'callclient'),:style=>"color: yellow"%></td>
					</tr>
				<% end %>
			</table>
	<% end %>
</div>	
<% end %>

