<!DOCTYPE html>
<html>
<head>
  	<title><%= @title || I18n.t(:default_title) %></title>
  	<%= stylesheet_link_tag 'global' %>
  	<%= javascript_include_tag 'jquery-1.7.2.min' %>
  	<%= javascript_include_tag 'jquery-ui-1.8.20.custom.min' %>
  	<%= javascript_include_tag 'jqu_utils' %>
  	<%= yield :head %>
</head>

<body >
	<div class="content">
	<%= yield %>
	</div><!-- end of .content -->
</body>

</html>
